/**
 * COMPONENT: LIST ICON
 * Lista com bullets com icones customizados
 */

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use 'settings' as *;

.list-icon {
  $i-w: 2.5em;

  @extend .list-unstyled;

  ion-icon {
    transition: $transition-base;
    font-size: 1.5em;
  }

  >li {
    margin-left: $i-w;
    @include bb.position(relative, null);
    @include bb.margin(null null null $i-w);

    #{$link-btn-hover} {
      ion-icon {
        @extend %scaleup-lg;
      }
    }
  }

  // Aplicar num elemento que envolve o icone
  .i-li {
    width: $i-w;
    line-height: inherit;
    @include bb.position(absolute, null null null ($i-w * -1));
  }
}