// PLACEHOLDERS

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use 'variables' as *;

%transition-base {
  transition: $transition-base;
}

%scaleup-base {
  transform: $scaleup-base;
}

%scaleup-lg {
  transform: $scaleup-lg;
}

%moveup-base {
  transform: $moveup-base;
}

%no-margin-last-el {
  &:last-child,
  &:only-child {
    @include bb.margin(null null 0);
  }
}
