/**
 * OVERRIDES: BOOTSTRAP
 */

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use "settings" as *;

// Typography
@include media-breakpoint-down(sm) {
  .lead {
    font-size: $font-size-base;
  }
}

// Cards

.card {
  box-shadow: $box-shadow-sm;
}

// Bgs

@each $name, $color in $theme-colors {
  .bg-#{$name} {
    color: color-contrast($color);
  }
}