/**
 * OVERRIDES: BOOTSTRAP
 */

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use "settings" as *;

// Typography
@include media-breakpoint-down(sm) {
  .lead {
    font-size: $font-size-base;
  }
}


// Cards

.card {
  box-shadow: $box-shadow-sm;

  @at-root {
    [class*="col"] > & {
      height: 100%;
    }
  }
}

// Form
.form-control,
.form-select {
  box-shadow: inset .25rem .25rem 0 rgba($gray-100, .5);
}

// Bgs

@each $name, $color in $theme-colors {
  .bg-#{$name} {
    color: color-contrast($color);
  }
}