/**
 * OVERRIDES: BOOTSTRAP
 */

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use "settings" as *;

// Typography
@include media-breakpoint-down(sm) {
  .lead {
    font-size: $font-size-base;
  }
}

// Dropdown

.dropdown {
  &-menu {
    box-shadow: 0 .5rem 1.125rem rgba($gray-500, .16);
  }

  &-header {
    font-family: $headings-font-family;
    font-size: $font-size-base * 1.125;
    text-transform: uppercase;
    @include bb.position(relative, null);

    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid $gray-200;
      @include bb.margin(.5rem null null);
    }
  }
}


// Cards

.card {
  box-shadow: $box-shadow-sm;

  #{$link-btn-hover},
  #{$link-btn-focus} {
    .icon-wrapper {
      ion-icon {
        transform: $scaleup-lg;
      }
    }
  }

  @at-root {
    [class*="col"] > & {
      height: 100%;
    }
  }
}

// Form
.form-control,
.form-select {
  box-shadow: inset .25rem .25rem 0 rgba($gray-100, .5);
}

// Bgs

@each $name, $color in $theme-colors {
  @if($name != 'light') {
    .bg-#{$name} {
      color: color-contrast($color);
    }
  }
}