// Animations

@keyframes ani-pulse {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.ani-pulse {
  animation: ani-pulse 1.5s ease-out infinite;
}
