// HEADER

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use "settings" as *;

.header-navbar {
  background-color: $white;
  border-bottom: 1px solid $gray-200;
  z-index: $zindex-fixed;
  overflow: hidden;
  @include bb.position (sticky, 0 null);

  .navbar-toggler,
  .nav-link,
  .btn-link {
    color: inherit;

    #{$link-btn-hover},
    #{$link-btn-active} {
      color: $link-color;
    }
  }

  .navbar-toggler {
    border: 0;
  }
  @include media-breakpoint-up(lg) {
    overflow: visible;
  }
}

.main-nav {
  @include bb.padding(map-get($spacers, 4) null);

  .nav-item {
    font-weight: $font-weight-bolder;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-200;
    }
  }
  @include media-breakpoint-down(md) {
    .nav-link {
      @include bb.padding (($nav-link-padding-y * 1.5) null);
    }
  }
  @include media-breakpoint-up(lg) {
    & {
      @include bb.padding (0 null);
    }

    .nav-item {
      &:not(:last-child) {
        border-bottom: 0;
      }
    }
  }
}

.secondary-nav {
  display: flex;
  justify-content: center;
  background-color: $gray-100;
  border-top: 1px solid $gray-200;
  @include bb.padding(map-get($spacers, 4) ($container-padding-x * 5));
  @include bb.margin (null ($container-padding-x * -5) ($navbar-padding-y * -1));
  @include media-breakpoint-up(lg) {
    & {
      background-color: transparent;
      border-top: 0;
      @include bb.padding (0);
      @include bb.margin (0);
    }
  }
}
