/**
 * GLOBAlS: ESTILOS / EXTENDS GLOBAIS
 */

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use "settings" as *;

a {
  @extend %transition-base;
}

ion-icon {
  vertical-align: -.125em;

  &[name] {
    pointer-events: none;
  }
}

.brand {
  @extend .navbar-brand;
  transition: $transition-base;

  #{$link-btn-hover} {
    @extend %scaleup-base;
  }

  &-rdstation {
    width: 174px;
    height: 32px;
  }
}

$icon-sizes: 2, 3;

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $gray-100;
  width: fit-content;
  @include bb.margin(null null $spacer);

  @each $num in $icon-sizes {
    &.icon-size-#{$num} {
      @include font-size($num * 1rem);
      @include padding($num * .5rem);
    }
  }

  ion-icon {
    @extend %transition-base;
  }
}

.form-message-wrapper {
  text-align: center;
  @include bb.padding(map-get($spacers, 5) null);

  .icon-wrapper {
    @include bb.margin(null auto);
  }

  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}