/**
 * GLOBAlS: ESTILOS / EXTENDS GLOBAIS
 */

@use "../../node_modules/bourbon/core/bourbon" as bb;
@use "settings" as *;

a {
  @extend %transition-base;
}

ion-icon {
  vertical-align: middle;

  &[name] {
    pointer-events: none;
  }
}

.brand {
  @extend .navbar-brand;
  transition: $transition-base;

  #{$link-btn-hover} {
    @extend %scaleup-base;
  }

  &-rdstation {
    width: 174px;
    height: 32px;
  }
}